*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
doxygen/
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map
*.log
*.xlsx
*.tlog
*.idb
*.pdb
*.lastbuildstate
*.ilk
*.exe
*.bin
*.elf
*.hex
*.suo
*.cas
*.user
*.sdf
*.cmd
*.htp





